# Copy this file to .env and adjust values

# WordPress
WP_URL=http://localhost:8080
WP_TITLE=WP Local
WP_ADMIN_USER=admin
WP_ADMIN_PASSWORD=ChangeMe_Strong_123!
WP_ADMIN_EMAIL=admin@example.local

# Database
DB_ENGINE=mariadb
DB_HOST=db
DB_NAME=wordpress
DB_USER=wp_user
DB_PASSWORD=ChangeMe_DB_User_123!
DB_ROOT_PASSWORD=ChangeMe_DB_Root_123!

# Versions
WORDPRESS_TAG=php8.3-fpm
MARIADB_TAG=11.4

# Ports
NGINX_HTTP_PORT=8080

# UID/GID for file permissions (adjust to your local user)
PUID=1000
PGID=1000
TZ=Europe/Kyiv


